@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend+Exa:wght@100..900&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Montserrat:wght@200;300;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@200;300;500;600&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    padding: 0;
    margin: 0;
}
.nav{
    display: flex;
    flex-direction: row;
    background: #eeeeee;
    margin: 0;
    padding: 0;
    height: 60px;
}
.max-container{
    display: flex;
    flex-direction: row;
}
.container-right{
    width: 400px;
}
.container-left{
    width: 1000px;
    margin: 10px;
}
.nav-items{
    padding: 15px 50px;
    font-family: "Inter",sans-serif;
    color: #009A9A;
    font-size: 15px;
    text-decoration: none;
}

#HRIDAY{
    padding-right: 300px;
    font-family: 'Inter',sans-serif;
    color: #009A9A;
    font-weight: 700;
    font-size: 25px;
    width: 40px;
}

.nav-items:hover{
    color: #005b5b;
}
.head{
    width: 1000px;
}
.header{
    font-family: "Montserrat",sans-serif;
    font-size: 45px;
    padding: 10px;
    padding-bottom: 0;
    margin: 20px;
    margin-bottom: 5px;
}
.below-header{

    font-family: "Inter",sans-serif;
    font-size: 20px;
    padding-left: 10px;
    padding-bottom: 15px;
    margin-top: 10px;
    margin-left: 100px;
    border-bottom: 2px solid rgb(208, 208, 208);
    margin: 20px;
    color: rgb(156, 156, 156);
}
.first-image{
    padding: 20px;
    margin: 20px;
    width: 900px;
    margin-bottom:0 ;
}

.intro-text{
    font-family: "Inter",sans-serif;
    font-size: 17px;
    padding: 10px;
    padding-bottom: 0;
    margin: 20px;
    margin-bottom: 10px;
    text-align: justify;
}
.info-left{
    font-family: "Inter",sans-serif;
    font-size: 17px;
    padding: 20px;
    margin-top: 0px;
    padding-top: 0;
    margin: 20px;
    text-align: justify;
}
.heading{
    font-weight: 600;
    font-size: 40px;
    padding: 0;
    margin: 0;
    font-family: "Livvic",sans-serif;
}

.minor-heading{
    font-family: "Livvic",sans-serif;
    font-weight: 400;
    font-size: 25px;
}

.most-popular{
    font-family: "Inter",sans-serif;
    font-weight: 500;
    font-size: 25px;
    padding: 5px 10px;
    margin-left: 5px;
    height: 30px;
    border-left:3px solid #009A9A;
    margin-top: 20px;
}
.left-one{
    margin: 5px;
    padding: 5px 5px 20px 5px;
    border-bottom: 1px solid rgb(207, 206, 206);
    width: 300px;
}
.one{
    width: 300px;
    padding: 0px;
    margin: 20px;
    margin-left: 0px;
    margin-bottom: 0;
}
.one-text{
    font-family: "Inter",sans-serif;
    font-weight: 600;
    font-size: 17px;
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 5px;
    width: 100px;
    
}
.left-two{
    margin: 5px;
    padding: 5px 5px 20px 5px;
    border-bottom: 1px solid rgb(207, 206, 206);
    width: 300px;
}
.two{
    width: 300px;
    padding: 0px;
    margin: 20px;
    margin-left: 0px;
    margin-bottom: 0;
}
.two-text{
    font-family: "Inter",sans-serif;
    font-weight: 600;
    font-size: 17px;
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 5px;
    width: 300px;
    
}
.left-three{
    margin: 5px;
    padding: 5px 5px 20px 5px;
    border-bottom: 1px solid rgb(207, 206, 206);
    width: 300px;
}
.three{
    width: 300px;
    padding: 0px;
    margin: 20px;
    margin-left: 0px;
    margin-bottom: 0;
}
.three-text{
    font-family: "Inter",sans-serif;
    font-weight: 600;
    font-size: 17px;
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 5px;
    width: 300px;
    
}