<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diet For you</title>
    <link rel="stylesheet" href="/Sem4MPR/static/0-20.css">
</head>
<body>
    <div class="navbar">
        <ul class="nav">
            <a class="nav-items" id="HRIDAY" href="index.html" style="display: flex; flex-direction: row;"><img src="/Sem4MPR/static/heart.png" alt="" style="width: 30px;">HRIDAY</a>
            <a class="nav-items" id="Home" href="index.html">Home</a>
            <a class="nav-items" id="About_us" href="#">About Us</a>
            <a class="nav-items" id="Contact_us" href="#">Contact us</a>
        </ul>
    </div>
    <div class="max-container">
        <div class="container-left">

            

            <div class="main">

                <div class="head">
                    <h1 class="header" style="font-size: 43px;">Personalized Nutrition: Your Custom Diet</h1>
                    <div class="below-header">By Hriday - 24th November 2024</div>
                </div>

                <div class="intro">
                    <p class="intro-text">Embark on a journey towards optimal health and well-being as you explore the profound impact of nourishing your body with a thoughtfully designed diet, tailored to meet your individual needs and preferences.!</p>
                </div>

                <div class="big-image">
                    <img class="first-image" src="/Sem4MPR/static/two.jpg" alt="">
                </div>

                

                <div class="info">
                    <div class="info-left">
                        <div class="heading">Crafting Your Ideal Diet: Personalized Nutrition Solutions</div> <br><br>

                        

                        <div class="minor-heading">Nourishing Your Body with Wholesome Foods:</div> <br>

                        Aim for a vibrant plate rich in a rainbow of colors by incorporating a variety of fruits and vegetables into your meals. From leafy greens like spinach and kale to the sweetness of berries and the crunch of cruciferous vegetables like broccoli, each addition ensures a wide array of vitamins, minerals, and antioxidants. Opt for fresh, frozen, or canned options without added sugars or high-sodium sauces to maximize nutritional value.<br><br>

                        <div class="minor-heading">Choosing Nutrient-Dense Staples:</div> <br>

                        Upgrade your grain game by opting for whole grains such as brown rice, quinoa, and oats over refined grains. Look for products labeled "100% whole grain" or "whole wheat" to ensure you're getting the maximum fiber and nutrient content. These wholesome grains provide sustained energy and support digestive health, keeping you feeling satisfied and energized throughout the day.<br><br>

                        <div class="minor-heading">Balancing Protein and Healthy Fats:</div> 
                        <br>

                        Fuel your body with lean sources of protein such as fish, skinless poultry, beans, and tofu to support muscle growth and repair. Incorporate fatty fish rich in omega-3 fatty acids, which are renowned for their heart-healthy benefits. Complement your protein choices with healthy fats from sources like olive oil, avocado, nuts, and seeds, which provide essential nutrients and promote overall well-being.

                        By prioritizing nutrient-dense foods and mindful eating habits, you can craft a diet that nourishes your body from the inside out, paving the way for a healthier, happier life.<br><br>
                    </div>
                    <div class="info-left">

                    </div>
                </div>


            </div>

        </div>

        <div class="container-right">

            <div class="most-popular">Most Popular</div>
            <div class="left-one">
                <img src="/Sem4MPR/static/three.jpg" alt="" class="one">
                <div class="three-text" href="#">Fun Facts You Didnt Know About Your Heart</div>
            </div>
           

            <div class="left-two">
                <img src="/Sem4MPR/static/image2.jpg" alt="" class="two">
                <div class="two-text">Causes of Variant Heart Diseases</div>
            </div>

            <div class="left-three">
                <img src="/Sem4MPR/static/one.jpg" alt="" class="three">
                <a class="three-text">How regular exercise stimulates <br> your brain and heart</a>
            </div>

            

        </div>
    </div>
</body>
</html>