<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise Made For You</title>
    <link rel="stylesheet" href="{{url_for('static',filename='0-20.css')}}">
</head>
<body>
    <div class="navbar">
        <ul class="nav">
            <a class="nav-items" id="HRIDAY" href="{{ url_for('index') }}" style="display: flex; flex-direction: row;"><img src="{{url_for('static',filename='heart.png')}}" alt="" style="width: 30px;">HRIDAY</a>
            <a class="nav-items" id="Home" href="{{ url_for('index') }}">Home</a>
            <a class="nav-items" id="About_us" href="#">About Us</a>
            <a class="nav-items" id="Contact_us" href="#">Contact us</a>
        </ul>
    </div>
    <div class="max-container">
        <div class="container-left">

            

            <div class="main">

                <div class="head">
                    <h1 class="header">Tailored Fitness : Lifestyle Just for You</h1>
                    <div class="below-header">By Hriday - 24th November 2024</div>
                </div>

                <div class="intro">
                    <p class="intro-text">Discover the Pathway to Lifelong Heart Health: Embrace a Holistic Approach to Fitness, Cultivate Habits That Nourish Your Heart, and Experience the Transformative Power of Personalized Exercise Regimens Crafted Specifically to Enhance Your Cardiovascular Well-being and Vitality!</p>
                </div>

                <div class="big-image">
                    <img class="first-image" src="/{{url_for('static',filename='0-20_exercise.jpg')}}" alt="">
                </div>

                

                <div class="info">
                    <div class="info-left">
                        <div class="heading">Exercise - Physical Fitness</div> <br><br>

                        <div class="minor-heading">Elevate Your Heart Rate with Versatile Workouts:</div><br>
                        In the realm of exercise, diversity reigns supreme. From brisk walking to cycling, each activity offers a unique pathway to cardiovascular wellness. Embrace the simplicity of brisk walking, where the gentle rhythm of your steps invigorates your body and soul. Whether you're wandering through scenic parks or striding along bustling city streets, brisk walking elevates your heart rate and promotes healthy circulation. Transition seamlessly to cycling, where each pedal stroke propels you closer to optimal fitness. Embrace the freedom of the open road or the controlled environment of a stationary bike, as you engage your lower body muscles and elevate your cardiovascular endurance. Let the wind rush past you as you conquer challenging terrains and discover new horizons on your journey to heart health.<br><br>
                        
                        <div class="minor-heading">Strength and Stability Through Dynamic Bodyweight Movements:</div> <br>
                        Unlock the power of your own body with bodyweight exercises that foster strength, stability, and flexibility. Whether you're performing squats, lunges, or push-ups, each movement engages multiple muscle groups and elevates your heart rate. Embrace the versatility of bodyweight exercises, which can be tailored to suit individuals of all fitness levels. As you challenge yourself with each repetition, feel the empowering sensation of your muscles growing stronger and more resilient. Explore different variations and progressions to keep your workouts dynamic and engaging, ensuring continuous improvement in your pursuit of optimal heart health.<br><br><br>
                        
                        <div class="heading">Yoga - Refresh Your Heart</div><br><br>
                        
                        <div class="minor-heading">Harmony of Body, Mind, and Spirit Through Yoga:</div><br>
                        Step onto the mat and embark on a journey of self-discovery and holistic wellness with yoga. Beyond physical exercise, yoga offers a profound opportunity to unite body, mind, and spirit in harmony. Dive into the practice of pranayama, where conscious breathing techniques like Alternate Nostril Breathing and Bee Breath promote relaxation and enhance respiratory function. Feel the gentle flow of energy as you transition into yoga asanas, or poses, each designed to strengthen the cardiovascular system and improve circulation. From Mountain Pose to Bridge Pose, each asana invites you to explore the depths of your inner landscape while nurturing your heart's vitality.<br><br>
                        
                        <div class="minor-heading">Nourish Your Soul with Meditation and Mindfulness:</div><br>
                        As you conclude your yoga practice, transition seamlessly into meditation and mindfulness to cultivate inner peace and emotional well-being. Close your eyes and journey inward, as you connect with the present moment and quiet the incessant chatter of the mind. Incorporate meditation techniques that soothe the soul and alleviate stress, fostering a deep sense of calm and tranquility. Embrace mindfulness as a way of life, carrying the essence of your practice into every aspect of your daily routine. With each breath, feel the steady rhythm of your heart and the boundless potential that resides within you.<br><br>
                    </div>
                    <div class="info-left">

                    </div>
                </div>


            </div>

        </div>

        <div class="container-right">

            <div class="most-popular">Most Popular</div>

            <div class="left-one">
                <img src="{{url_for('static',filename='one.jpg')}}" alt="" class="one">
                <a class="one-text">How regular exercise stimulates <br> your brain and heart</a>
            </div>

            <div class="left-two">
                <img src="{{url_for('static',filename='two.jpg')}}" alt="" class="two">
                <div class="two-text">Healthy Diet helps a healthy Heart</div>
            </div>

            <div class="left-three">
                <img src="{{url_for('static',filename='three.jpg')}}" alt="" class="three">
                <div class="three-text" href="#">Fun Facts You Didnt Know About Your Heart</div>
            </div>

        </div>
    </div>
</body>
</html>