<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness , 20-40</title>
    <link rel="stylesheet" href="{{url_for('static',filename='0-20.css')}}">
</head>
<body>
    <div class="navbar">
        <ul class="nav">
            <a class="nav-items" id="HRIDAY" href="{{ url_for('index') }}" style="display: flex; flex-direction: row;"><img src="{{url_for('static',filename='heart.png')}}" alt="" style="width: 30px;">HRIDAY</a>
            <a class="nav-items" id="Home" href="{{ url_for('index') }}">Home</a>
            <a class="nav-items" id="About_us" href="#">About Us</a>
            <a class="nav-items" id="Contact_us" href="#">Contact us</a>
        </ul>
    </div>
    <div class="max-container">
        <div class="container-left">

            

            <div class="main">

                <div class="head">
                    <h1 class="header" >Tailored Fitness : Lifestyle Just for You</h1>
                    <div class="below-header">By Hriday - 24th November 2024</div>
                </div>

                <div class="intro">
                    <p class="intro-text">Step into the pathway toward lifelong heart health by embracing a holistic approach to fitness. Cultivate habits that nourish your heart and uncover the transformative potential of personalized exercise regimens designed to enhance your cardiovascular well-being and vitality. Join us as we navigate this journey toward optimal heart health, where each step brings us closer to a healthier and more fulfilling life.</p>
                </div>

                <div class="big-image">
                    <img class="first-image" src="{{url_for('static',filename='young-adult-doing-indoor-sport-gym_23-2149205610.jpg')}}" alt="">
                </div>

                

                <div class="info">
                    <div class="info-left">
                        <div class="heading">Optimizing Your Exercise Routine: Tailored Strategies for Cardiovascular Fitness, Strength Training, Yoga, and Flexibility</div> <br><br>

                        

                        <div class="minor-heading"> Aerobic Exercise: Elevating Heart Health</div> <br>

                        Aerobic exercise serves as the cornerstone for improving cardiovascular health and burning calories efficiently. Whether engaging in moderate or vigorous activities, consistency is key. Incorporate brisk walking, jogging, cycling, swimming, aerobic classes, or high-intensity interval training (HIIT) into your weekly routine to reap the benefits of enhanced endurance and calorie expenditure.<br><br>

                        <div class="minor-heading"> Strength Training: Building a Strong Foundation</div> <br>

                        Explore the myriad benefits of yoga, from increased flexibility to reduced stress and improved mental well-being. Incorporate pranayama (breathing exercises) and various yoga poses into your practice, such as Trikonasana (Triangle Pose), Virabhadrasana (Warrior Pose), and Ardha Matsyendrasana (Half Lord of the Fishes Pose). Conclude your session with Yoga Nidra, a guided relaxation technique, to promote deep rest and stress reduction.<br><br>

                        <div class="minor-heading">  Yoga: Enhancing Flexibility and Well-being</div> <br>

                        Dedicate at least two sessions per week to strength training, focusing on different muscle groups each time. Utilize free weights, bodyweight exercises, resistance bands, or gym machines to challenge your muscles and promote strength gains. With a well-rounded routine targeting major muscle groups, you'll not only enhance physical strength but also support overall functional fitness.<br><br>

                        <div class="minor-heading">Flexibility and Stretching: Safeguarding Joint Health</div> 
                        <br>

                        Prioritize flexibility and stretching exercises to maintain joint range of motion and prevent injury. Incorporate dynamic stretches as a warm-up before workouts and static stretching post-exercise to improve flexibility and alleviate muscle tension. By incorporating these practices into your routine, you'll enhance overall mobility and resilience, ensuring longevity and vitality in your fitness journey.<br><br>
                    </div>
                    <div class="info-left">

                    </div>
                </div>


            </div>

        </div>

        <div class="container-right">

            <div class="most-popular">Most Popular</div>

            <div class="left-one">
                <img src="{{url_for('static',filename='one.jpg')}}" alt="" class="one">
                <a class="one-text">How regular exercise stimulates <br> your brain and heart</a>
            </div>

            <div class="left-two">
                <img src="{{url_for('static',filename='two.jpg')}}" alt="" class="two">
                <div class="two-text">Healthy Diet helps a healthy Heart</div>
            </div>

            <div class="left-three">
                <img src="{{url_for('static',filename='three.jpg')}}" alt="" class="three">
                <div class="three-text" href="#">Fun Facts You Didnt Know About Your Heart</div>
            </div>

           

            

        </div>
    </div>
</body>
</html>