<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diet For you  ,20-40</title>
    <link rel="stylesheet" href="/Sem4MPR/static/20-40.css">
</head>
<body>
    <div class="navbar">
        <ul class="nav">
            <a class="nav-items" id="HRIDAY" href="index.html" style="display: flex; flex-direction: row;"><img src="/Sem4MPR/static/heart.png" alt="" style="width: 30px;">HRIDAY</a>
            <a class="nav-items" id="Home" href="index.html">Home</a>
            <a class="nav-items" id="About_us" href="#">About Us</a>
            <a class="nav-items" id="Contact_us" href="#">Contact us</a>
        </ul>
    </div>
    <div class="max-container">
        <div class="container-left">

            

            <div class="main">

                <div class="head">
                    <h1 class="header" style="font-size: 43px;">Personalized Nutrition: Your Custom Diet</h1>
                    <div class="below-header">By Hriday - 24th November 2024</div>
                </div>

                <div class="intro">
                    <p class="intro-text">Explore the power of personalized nutrition, meticulously tailored to align with your unique needs and preferences. This journey isn't just about what you eat; it's about embracing a lifestyle that celebrates nourishment, vitality, and the holistic harmony of mind, body, and soul.</p>
                </div>

                <div class="big-image">
                    <img class="first-image" src="/Sem4MPR/static/20-40-diet.jpg" alt="">
                </div>

                

                <div class="info">
                    <div class="info-left">
                        <div class="heading">Crafting a Heart-Healthy Diet for Lifelong Wellness</div> <br><br>

                        

                        <div class="minor-heading"> Prioritize Healthy Choices: Elevating Your Plate</div> <br>

                        Fuel your body with a colorful array of fruits and vegetables, aiming for at least 5 servings daily to ensure a diverse intake of essential nutrients. Incorporate berries, citrus fruits, leafy greens, and vibrant vegetables like bell peppers and carrots to maximize your vitamin, mineral, and antioxidant intake. Opt for whole grains such as whole wheat, brown rice, quinoa, and oats, which offer essential nutrients like fiber, B vitamins, and minerals. Make a conscious effort to include lean proteins from sources like fish, poultry, beans, and legumes, ensuring a balance of amino acids and healthy fats.<br><br>
                        
                        <div class="minor-heading">. Limit Unhealthy Fats and Sodium: Reducing Dietary Risks:</div><br>
                        Exercise caution in your consumption of saturated fats by limiting red meat, butter, and high-fat dairy products. Instead, opt for leaner alternatives such as poultry or plant-based options. Avoid trans fats commonly found in processed snacks, margarine, and fried foods, and monitor dietary cholesterol intake, especially from sources like egg yolks and organ meats. Manage sodium intake by choosing low-sodium products, minimizing processed foods, and utilizing herbs and spices for flavoring.<br><br>
                        
                        <div class="minor-heading"> Cut Down on Processed Items and Sugars: Enhancing Dietary Quality</div><br>
                        Opt for whole or minimally processed foods whenever possible to reduce reliance on processed items. Choose healthier alternatives to sugary snacks and drinks, such as fruit, dark chocolate, or homemade treats with reduced sugar content. Prioritize hydration with water, herbal teas, or sparkling water over sugary sodas or fruit drinks. When consuming alcohol, do so in moderation, adhering to recommended guidelines for daily intake.<br><br>
                        
                        <div class="minor-heading"> Encourage Regularity and Portion Control: Establishing Healthy Habits</div><br>
                        Maintain consistency in your meal timing to regulate hunger signals and metabolic processes, aiming to eat at similar times each day. Practice portion control by utilizing smaller plates, checking serving sizes on labels, and being mindful of your food intake at each meal. By cultivating these habits, you can optimize your dietary choices and promote overall health and well-being.
                        <br><br>
                
                </div>
                <div class="info-left">

                </div>
                </div>

            </div>

        </div>

        <div class="container-right">

            <div class="most-popular">Most Popular</div>
            <div class="left-one">
                <img src="/Sem4MPR/static/three.jpg" alt="" class="one">
                <div class="three-text" href="#">Fun Facts You Didnt Know About Your Heart</div>
            </div>
           

            <div class="left-two">
                <img src="/Sem4MPR/static/image2.jpg" alt="" class="two">
                <div class="two-text">Causes of Variant Heart Diseases</div>
            </div>

            <div class="left-three">
                <img src="/Sem4MPR/static/one.jpg" alt="" class="three">
                <a class="three-text">How regular exercise stimulates <br> your brain and heart</a>
            </div>

            

        </div>
    </div>
</body>
</html>