<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise Made For You</title>
    <link rel="stylesheet" href="/Sem4MPR/static/0-20.css">
</head>
<body>
    <div class="navbar">
        <ul class="nav">
            <a class="nav-items" id="HRIDAY" href="index.html" style="display: flex; flex-direction: row;"><img src="/Sem4MPR/static/heart.png" alt="" style="width: 30px;">HRIDAY</a>
            <a class="nav-items" id="Home" href="index.html">Home</a>
            <a class="nav-items" id="About_us" href="#">About Us</a>
            <a class="nav-items" id="Contact_us" href="#">Contact us</a>
        </ul>
    </div>
    <div class="max-container">
        <div class="container-left">

            

            <div class="main">

                <div class="head">
                    <h1 class="header">Tailored Fitness : Lifestyle Just for You</h1>
                    <div class="below-header">By Hriday - 24th November 2024</div>
                </div>

                <div class="intro">
                    <p class="intro-text">Discover the Pathway to Lifelong Heart Health: Embrace a Holistic Approach to Fitness, Cultivate Habits That Nourish Your Heart, and Experience the Transformative Power of Personalized Exercise Regimens Crafted Specifically to Enhance Your Cardiovascular Well-being and Vitality!</p>
                </div>

                <div class="big-image">
                    <img class="first-image" src="/Sem4MPR/static/40-60.jpg" alt="">
                </div>

                

                <div class="info">
                    <div class="info-left">
                        <div class="heading">Exercise - Physical Fitness</div> <br><br>

                        <div class="minor-heading">Elevate Your Exercise Regimen: Enhancing Cardiovascular Fitness:</div><br>
                        Strive for a minimum of 150 minutes of moderate-intensity aerobic exercise or 75 minutes of vigorous-intensity aerobic exercise weekly, complemented by muscle-strengthening activities on two or more days. Embrace a variety of aerobic activities such as brisk walking, jogging, cycling, swimming, or aerobic classes to diversify your routine and maximize cardiovascular benefits. Consider intensifying your workouts or extending exercise duration to further enhance cardiovascular fitness. Incorporate flexibility and balance exercises to preserve overall physical function and mitigate injury risk.<br><br>

                        <div class="heading">Yoga - Refresh Your Heart</div><br><br>
                        
                        <div class="minor-heading">Embrace Yoga: Cultivating Heart Health and Well-being</div> <br>
                        Integrate yoga into your exercise routine to reap its multitude of benefits, including stress reduction, enhanced flexibility, and improved overall well-being. Focus on yoga poses and practices that support heart health and stress reduction, incorporating pranayama (breathing exercises) like Nadi Shodhana and Sitali to promote relaxation and alleviate stress. Engage in heart-opening asanas such as Ustrasana, Bhujangasana, and Dhanurasana to fortify the cardiovascular system and enhance circulation. Dedicate time to meditation and mindfulness to foster inner peace, alleviate anxiety, and nurture emotional well-being..<br><br><br>
                        
                   
                        
                        <div class="minor-heading">Adopt Heart-Healthy Lifestyle Modifications: Prioritizing Wellness:</div><br>
                        Prioritize maintaining a healthy weight, abstaining from smoking, and managing stress through relaxation techniques such as yoga, meditation, or mindfulness. Regularly monitor blood pressure, cholesterol levels, and other pertinent health markers to stay proactive about your heart health. Emphasize medication adherence if prescribed by a healthcare provider, fostering open communication with healthcare professionals to address any queries or concerns effectively. By embracing these lifestyle modifications, you can fortify your heart health and embark on a journey toward optimal well-being.<br><br>
                        
                       
                    </div>
                    <div class="info-left">

                    </div>
                </div>


            </div>

        </div>

        <div class="container-right">

            <div class="most-popular">Most Popular</div>

            <div class="left-two">
                <img src="/Sem4MPR/static/two.jpg" alt="" class="two">
                <div class="two-text">Healthy Diet helps a healthy Heart</div>
            </div>


            <div class="left-one">
                <img src="/Sem4MPR/static/one.jpg" alt="" class="one">
                <a class="one-text">How regular exercise stimulates <br> your brain and heart</a>
            </div>

            
            <div class="left-three">
                <img src="/Sem4MPR/static/three.jpg" alt="" class="three">
                <div class="three-text" href="#">Fun Facts You Didnt Know About Your Heart</div>
            </div>

        </div>
    </div>
</body>
</html>