<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness , 20-40</title>
    <link rel="stylesheet" href="{{url_for('static',filename='0-20.css')}}">
</head>
<body>
    <div class="navbar">
        <ul class="nav">
            <a class="nav-items" id="HRIDAY" href="{{ url_for('index')}}" style="display: flex; flex-direction: row;"><img src="{{ url_for('static', filename='heart.png') }}" alt="" style="width: 30px;">HRIDAY</a>
            <a class="nav-items" id="Home" href="{{ url_for('index') }}">Home</a>
            <a class="nav-items" id="About_us" href="#">About Us</a>
            <a class="nav-items" id="Contact_us" href="#">Contact us</a>
        </ul>
    </div>
    <div class="max-container">
        <div class="container-left">

            

            <div class="main">

                <div class="head">
                    <h1 class="header" >Customized Fitness : Lifestyle Just for You</h1>
                    <div class="below-header">By Hriday - 24th November 2024</div>
                </div>

                <div class="intro">
                    <p class="intro-text">Step into the pathway toward lifelong heart health by embracing a holistic approach to fitness. Cultivate habits that nourish your heart and uncover the transformative potential of personalized exercise regimens designed to enhance your cardiovascular well-being and vitality. Join us as we navigate this journey toward optimal heart health, where each step brings us closer to a healthier and more fulfilling life.</p>
                </div>

                <div class="big-image">
                    <img class="first-image" src="{{ url_for('static', filename='60-80_exercise.jpg') }}" alt="">
                </div>

                

                <div class="info">
                    <div class="info-left">
                        <div class="heading">Crafting an Effective Exercise Plan: Customized Methods for Cardiovascular Wellness, Strength Development, Yoga Sessions, and Improving Flexibility</div> <br><br>

                        

             

                        <div class="minor-heading">Exercise:</div><br><br>

                            Aim for at least 150 minutes of moderate-intensity aerobic exercise or 75 minutes of vigorous-intensity aerobic exercise per week. Prioritize activities such as brisk walking, jogging, cycling, swimming, or aerobic classes to enhance cardiovascular fitness. It's advisable to consider increasing exercise intensity and duration under the guidance of a healthcare professional or certified fitness trainer. Additionally, incorporate muscle-strengthening activities on two or more days per week, focusing on exercises targeting major muscle groups like squats, lunges, push-ups, and weightlifting. Ensure a well-rounded routine by including flexibility, balance, and functional exercises such as stretches, balance exercises like yoga or tai chi, and functional movements that mimic daily activities.<br><br><br>

                            <div class="minor-heading">Yoga:</div><br><br>

                            Yoga serves as a valuable addition to an exercise regimen, offering benefits like stress reduction, improved flexibility, and enhanced overall well-being. Focus on yoga practices that specifically support heart health and stress reduction. This includes incorporating Pranayama (Breathing Exercises) like Kapalabhati and Bhastrika to increase oxygenation and promote relaxation. Additionally, integrate gentle asanas (Yoga Poses) such as Supta Baddha Konasana, Viparita Karani, and Savasana to induce relaxation and alleviate tension. Meditation and mindfulness exercises can further complement the practice, aiding in cultivating inner peace, reducing anxiety, and enhancing emotional well-being.<br><br>

                            <div class="minor-heading">Lifestyle Modifications:</div><br><br>

                            Emphasize the importance of strict adherence to lifestyle modifications for optimal heart health. This includes maintaining a healthy weight, quitting smoking if applicable, and managing stress through relaxation techniques like yoga, meditation, or mindfulness. Regular monitoring of health markers such as blood pressure, cholesterol levels, and blood sugar is essential, with close follow-up with healthcare professionals. Discussions regarding medication therapy should be held with a healthcare provider, ensuring adherence to prescribed medications as directed. Encouraging participation in cardiac rehabilitation programs, support groups, or counseling services can provide additional motivation, accountability, and overall well-being support.<br><br>
                    </div>
                    <div class="info-left">

                    </div>
                </div>


            </div>

        </div>

        <div class="container-right">

            <div class="most-popular">Most Popular</div>
            <div class="left-one">
                <img src="{{url_for('static',filename='three.jpg')}}" alt="" class="one">
                <div class="three-text" href="#">Fun Facts You Didnt Know About Your Heart</div>
            </div>
           

            <div class="left-two">
                <img src="{{url_for('static',filename='image2.jpg')}}" alt="" class="two">
                <div class="two-text">Causes of Variant Heart Diseases</div>
            </div>

            <div class="left-three">
                <img src="{{url_for('static',filename='one.jpg')}}" alt="" class="three">
                <a class="three-text">How regular exercise stimulates <br> your brain and heart</a>
            </div>

           

            

        </div>
    </div>
</body>
</html>