<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diet For you</title>
    <link rel="stylesheet" href="/static/0-20.css">
</head>
<body>
    <div class="navbar">
        <ul class="nav">
            <a class="nav-items" id="HRIDAY" href="index.html" style="display: flex; flex-direction: row;"><img src="/Sem4MPR/static/heart.png" alt="" style="width: 30px;">HRIDAY</a>
            <a class="nav-items" id="Home" href="index.html">Home</a>
            <a class="nav-items" id="About_us" href="#">About Us</a>
            <a class="nav-items" id="Contact_us" href="#">Contact us</a>
        </ul>
    </div>
    <div class="max-container">
        <div class="container-left">

            

            <div class="main">

                <div class="head">
                    <h1 class="header" style="font-size: 43px;">Personalized Nutrition: Your Custom Diet</h1>
                    <div class="below-header">By Hriday - 24th November 2024</div>
                </div>

                <div class="intro">
                    <p class="intro-text">Embark on a journey towards optimal health and well-being as you explore the profound impact of nourishing your body with a thoughtfully designed diet, tailored to meet your individual needs and preferences.!</p>
                </div>

                <div class="big-image">
                    <img class="first-image" src="/static/60-80_diet.jpg" alt="">
                </div>

                

                <div class="info">
                    <div class="info-left">
                        <div class="heading"> Heart-Healthy Diet for Lifelong Wellness</div> <br><br>

                        

                        
                        <div class="minor-heading"> Focus on Whole Foods:</div><br><br>

                            Adopting a heart-healthy diet begins with prioritizing whole foods that are rich in essential nutrients. These include fruits, vegetables, whole grains, lean proteins, and healthy fats. Incorporating a variety of colorful fruits and vegetables ensures a range of vitamins, minerals, and antioxidants that support heart health. Whole grains like brown rice, quinoa, and oats provide fiber, which aids in digestion and helps lower cholesterol levels.<br><br>

                            Lean proteins such as fish, poultry, beans, and nuts are excellent sources of protein without the added saturated fats found in red meat. Fish, particularly fatty fish like salmon and trout, are high in omega-3 fatty acids, which are beneficial for heart health. Nuts like almonds, walnuts, and pistachios offer healthy fats, fiber, and antioxidants.<br><br>

                            Healthy fats like those found in olive oil and avocado are essential for a well-rounded diet. Olive oil is a staple in the Mediterranean diet, known for its heart-protective benefits. Avocados are rich in monounsaturated fats, which can help lower bad cholesterol levels while increasing good cholesterol.<br><br><br>
                            <div class="minor-heading">Limit Unhealthy Components:</div><br><br>

                            To support heart health, it's crucial to limit intake of saturated fats, trans fats, cholesterol, and sodium. Saturated fats are commonly found in fatty cuts of meat, full-fat dairy products, and certain oils like palm oil and coconut oil. Trans fats, often found in processed and fried foods, raise bad cholesterol levels and increase the risk of heart disease.<br><br>

                            Cholesterol, while necessary for bodily functions, should be consumed in moderation. Foods high in cholesterol include egg yolks, organ meats, and high-fat dairy products. Monitoring sodium intake is also important, as excessive sodium can contribute to high blood pressure and heart disease. Processed foods, canned soups, and fast food meals are often high in sodium.<br><br><br>

                            <div class="minor-heading">Avoid Harmful Dietary Choices:</div>
                            <br><br>
                            Maintaining heart health involves avoiding certain dietary choices that can be detrimental. Processed foods, such as packaged snacks, sugary cereals, and ready-to-eat meals, are often high in added sugars, unhealthy fats, and sodium. These items contribute to inflammation, weight gain, and an increased risk of heart disease.
                            <br><br>
                            Sugary snacks and drinks, including sodas, candies, and pastries, should be limited or avoided altogether. These items provide empty calories and can lead to insulin resistance, obesity, and heart problems. Similarly, excessive alcohol consumption can negatively impact heart health, leading to high blood pressure, irregular heart rhythms, and increased risk of stroke.<br><br>

                            By working closely with a registered dietitian, individuals can create personalized meal plans that prioritize nutrition while supporting heart health and overall well-being. A tailored approach considers individual preferences, nutritional needs, and lifestyle factors to ensure sustainable dietary habits for long-term health.<br><br>
                    </div>
                    <div class="info-left">

                    </div>
                </div>


            </div>

        </div>

        <div class="container-right">

            <div class="most-popular">Most Popular</div>
            <div class="left-one">
                <img src="/Sem4MPR/static/three.jpg" alt="" class="one">
                <div class="three-text" href="#">Fun Facts You Didnt Know About Your Heart</div>
            </div>
           

            <div class="left-two">
                <img src="/Sem4MPR/static/image2.jpg" alt="" class="two">
                <div class="two-text">Causes of Variant Heart Diseases</div>
            </div>

            <div class="left-three">
                <img src="/Sem4MPR/static/one.jpg" alt="" class="three">
                <a class="three-text">How regular exercise stimulates <br> your brain and heart</a>
            </div>

            

        </div>
    </div>
</body>
</html>