<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diet For you</title>
    <link rel="stylesheet" href="{{url_for('static',filename='0-20.css')}}">
</head>
<body>
    <div class="navbar">
        <ul class="nav">
            <a class="nav-items" id="HRIDAY" href="{{ url_for('index')}}" style="display: flex; flex-direction: row;"><img src="{{ url_for('static', filename='heart.png') }}" alt="" style="width: 30px;">HRIDAY</a>
            <a class="nav-items" id="Home" href="{{ url_for('index')}}">Home</a>
            <a class="nav-items" id="About_us" href="#">About Us</a>
            <a class="nav-items" id="Contact_us" href="#">Contact us</a>
        </ul>
    </div>
    <div class="max-container">
        <div class="container-left">

            

            <div class="main">

                <div class="head">
                    <h1 class="header" style="font-size: 43px;">Personalized Nutrition: Your Custom Diet</h1>
                    <div class="below-header">By Hriday - 24th November 2024</div>
                </div>

                <div class="intro">
                    <p class="intro-text">Embark on a journey towards optimal health and well-being as you explore the profound impact of nourishing your body with a thoughtfully designed diet, tailored to meet your individual needs and preferences.!</p>
                </div>

                <div class="big-image">
                    <img class="first-image" src="{{ url_for('static', filename='80-100_exercise.jpg') }}" alt="">
                </div>

                

                <div class="info">
                    <div class="info-left">
                        <div class="heading">Crafting a Heart-Healthy Diet for Lifelong Wellness</div> <br><br>

                        

                        

                        <div class="minor-heading"> Prioritize Physical and Mental Well-being:</div><br><br>
                        Integrate regular physical activity and yoga practices into your lifestyle to prioritize both physical fitness and mental wellness. Aim for at least 150 minutes of moderate-intensity aerobic exercise or 75 minutes of vigorous-intensity aerobic exercise per week, incorporating activities like brisk walking, jogging, cycling, swimming, or aerobic classes to enhance cardiovascular health.<br><br><br>

                        <div class="minor-heading"> Supervised Programs and Strength Training:</div><br><br>
                        Consider participating in supervised exercise programs or cardiac rehabilitation, especially if you have existing heart conditions, to ensure safe and effective workouts. Additionally, incorporate strength training exercises targeting major muscle groups on two or more days per week under professional guidance to support overall physical health and resilience.<br><br><br>

                        <div class="minor-heading"> Mindful Yoga Practices:</div><br><br>
                        Incorporate gentle yoga practices into your routine to promote relaxation, stress reduction, and emotional well-being. Focus on breathing exercises like Dirga Pranayama (Three-Part Breath) and Nadi Shodhana (Alternate Nostril Breathing) to calm the mind and reduce stress levels. Include restorative poses such as Balasana (Child's Pose), Supta Baddha Konasana (Reclining Bound Angle Pose), and Savasana (Corpse Pose) to release tension and facilitate deep relaxation.
                        <br><br><br>
                        <div class="minor-heading"> Healthy Lifestyle Choices:</div><br><br>
                        Emphasize the importance of maintaining a healthy lifestyle by adhering to habits such as maintaining a healthy weight, quitting smoking if applicable, and managing stress through relaxation techniques like yoga, meditation, or mindfulness. These practices are essential for optimizing heart health and overall well-being.<br><br><br>

                        <div class="minor-heading"> Regular Monitoring and Medication Adherence:</div><br><br>
                        Ensure regular monitoring of key health indicators such as blood pressure, cholesterol levels, and blood sugar levels, and follow up with healthcare professionals as needed. Strictly adhere to prescribed medications and treatment plans under the guidance of a healthcare provider to effectively manage cardiovascular risk factors.
                        <br><br><br>
                        <div class="minor-heading"> Comprehensive Support for Well-being:</div><br><br>
                        Consider additional interventions such as stress management programs, psychological support, and participation in cardiac rehabilitation to enhance overall well-being and quality of life. These resources can provide valuable support and guidance in maintaining heart health and emotional resilience.<br><br><br>
                    </div>
                    <div class="info-left">

                    </div>
                </div>

            </div>

        </div>

        <div class="container-right">

            <div class="most-popular">Most Popular</div>
            <div class="left-one">
                <img src="{{url_for('static',filename='three.jpg')}}" alt="" class="one">
                <div class="three-text" href="#">Fun Facts You Didnt Know About Your Heart</div>
            </div>
           

            <div class="left-two">
                <img src="{{url_for('static',filename='image2.jpg')}}" alt="" class="two">
                <div class="two-text">Causes of Variant Heart Diseases</div>
            </div>

            <div class="left-three">
                <img src="{{url_for('static',filename='one.jpg')}}" alt="" class="three">
                <a class="three-text">How regular exercise stimulates <br> your brain and heart</a>
            </div>


            

        </div>
    </div>
</body>
</html>