<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diet For you</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='0-20.css') }}">
</head>
<body>
    <div class="navbar">
        <ul class="nav">
            <a class="nav-items" id="HRIDAY" href="{{ url_for('index') }}" style="display: flex; flex-direction: row;"><img src="{{ url_for('static', filename='heart.png') }}" alt="" style="width: 30px;">HRIDAY</a>
            <a class="nav-items" id="Home" href="{{ url_for('index') }}">Home</a>
            <a class="nav-items" id="About_us" href="#">About Us</a>
            <a class="nav-items" id="Contact_us" href="#">Contact us</a>
        </ul>
    </div>
    <div class="max-container">
        <div class="container-left">

            

            <div class="main">

                <div class="head">
                    <h1 class="header" style="font-size: 43px;">Personalized Nutrition: Your Custom Diet</h1>
                    <div class="below-header">By Hriday - 24th November 2024</div>
                </div>

                <div class="intro">
                    <p class="intro-text">Embark on a journey towards optimal health and well-being as you explore the profound impact of nourishing your body with a thoughtfully designed diet, tailored to meet your individual needs and preferences.!</p>
                </div>

                <div class="big-image">
                    <img class="first-image" src="{{ url_for('static', filename='80-100_diet.jpg') }}" alt="">
                </div>

                

                <div class="info">
                    <div class="info-left">
                        <div class="heading"> Heart-Healthy Eating: A Guide to Optimal Cardiovascular Nutrition</div> <br><br>

                        

                         

                         <div class="minor-heading">Embrace Whole, Unprocessed Foods:</div>
                         <br><br>
                        Prioritize a diet rich in whole, unprocessed foods, which provide essential nutrients vital for heart health. Incorporate abundant servings of fruits, vegetables, whole grains, lean proteins such as fish, poultry, beans, and nuts into your daily meals. Opt for healthy fats like olive oil and avocado, known for their beneficial effects on cardiovascular function.
                        <br><br><br>
                        <div class="minor-heading">Eliminate Harmful Components:</div>
                        <br><br>
                        Take proactive steps to eliminate saturated fats, trans fats, and dietary cholesterol from your eating habits. These harmful fats can contribute to arterial plaque buildup and increase the risk of heart disease. Minimize sodium intake, as excessive salt consumption can elevate blood pressure levels, posing a threat to heart health.
                        <br><br><br>
                        <div class="minor-heading">Steer Clear of Unhealthy Choices:</div>
                        <br><br>
                        Refrain from consuming processed foods, sugary snacks and beverages, as well as alcoholic drinks. These items often contain high levels of added sugars, unhealthy fats, and empty calories, which can have detrimental effects on cardiovascular function and overall health.
                        <br><br><br>
                        <div class="minor-heading">Seek Expert Guidance:</div>
                        <br><br>
                        Consider consulting with a registered dietitian specializing in cardiovascular health to develop a tailored meal plan. A qualified professional can offer personalized recommendations and closely monitor your nutritional needs to ensure optimal heart health. By adopting these dietary strategies, you can take proactive steps towards protecting your cardiovascular well-being and enjoying a healthier, more vibrant life.
                        <br><br><br>
                    </div>
                    <div class="info-left">

                    </div>
                </div>


            </div>

        </div>

        <div class="container-right">

            <div class="most-popular">Most Popular</div>
            <div class="left-one">
                <img src="{{url_for('static',filename='three.jpg')}}" alt="" class="one">
                <div class="three-text" href="#">Fun Facts You Didnt Know About Your Heart</div>
            </div>
           

            <div class="left-two">
                <img src="{{url_for('static',filename='image2.jpg')}}" alt="" class="two">
                <div class="two-text">Causes of Variant Heart Diseases</div>
            </div>

            <div class="left-three">
                <img src="{{url_for('static',filename='one.jpg')}}" alt="" class="three">
                <a class="three-text">How regular exercise stimulates <br> your brain and heart</a>
            </div>

            

        </div>
    </div>
</body>
</html>