<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lifestyle</title>
    <link rel="stylesheet" href="{{url_for('static',filename='lifestyle.css')}}">



    </script>
</head>
<body>
    <navbar class="navbar">
        <ul class="nav">
            <li class="nav-item" id="hriday"><img src="{{url_for('static',filename='heart.png')}}" style="width: 30px;"> HRIDAY</li>
            <li class="nav-item" id="Home"> <a href="{{ url_for('index') }}" style="text-decoration: none;">Home</a></li>
            <li class="nav-item" id="About-us">About Us</li>
            <li class="nav-item" id="Contact-us">Contact Us</li>
        </ul>
    </navbar>
    <div class="content">
        <a href="{{ url_for('exercise20')}}" >
        <div class="yoga"  >
            

            <img src="{{url_for('static',filename='yoga_lifestyle.png')}}" class="yoga-image" alt="Avatar">
        
           <div  class="yoga-text">YOGA</div>
              
        </div>
    </a>

    <a href="{{ url_for('exercise60')}}" >
        <div class="exercise"  >
            

            <img src="{{url_for('static',filename='exercise_lifestyle.png')}}" class="exercise-image" alt="Avatar">
        
           <div  class="exercise-text">EXERCISE</div>
              
        </div>
    </a>

    <a href="{{ url_for('diet60')}}" >
        <div class="diet"  >
            

            <img src="{{url_for('static',filename='diet_lifestyle.png')}}" class="diet-image" alt="Avatar">
        
           <div  class="diet-text">DIET</div>
              
        </div>
    </a>
    
           
       
    </div>
</body>
</html>