<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lifestyle</title>
    <link rel="stylesheet" href="/static/lifestyle.css">
</head>
<body>
    <navbar class="navbar">
        <ul class="nav">
            <li class="nav-item" id="hriday"><img src="{{url_for('static',filename='heart.png')}}" style="width: 30px;"> HRIDAY</li>
            <li class="nav-item" id="Home"> <a href="{{ url_for('index') }}" style="text-decoration: none;">Home</a></li>
            <li class="nav-item" id="About-us">About Us</li>
            <li class="nav-item" id="Contact-us">Contact Us</li>
        </ul>
    </navbar>
    <div class="content">
        <a class="yoga" href = "./0-20_exercise.html">
            <img src="/static/yoga_lifestyle.png" class="yoga-image" alt="Avatar">
        
                <div class="yoga-text">YOGA</div>
              
        </a>
        
        <div class="exercise">
            <img src="/static/exercise_lifestyle.png" alt="" class="exercise-image">
            <div class="exercise-text">EXERCISE</div>
        </div>
     
        <div class="diet">
            <img src="/static/diet_lifestyle.png" alt="" class="diet-image">
            <div class="diet-text">DIET</div>
        </div>    
           
       
    </div>
</body>
</html>